*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

header{
    background-color: #4682B4;
    color: white;
    padding: 16px;
    padding-bottom: 8px;
}

header h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
}


form{
    margin: 12px auto;
}

form input,
form button{
    font-size: 16px;
    padding: 6px;
}

form input{
    padding-left: 12px;
}

form button{
    color: white;
    border-radius: 4px;
}

form button, ol li{
    cursor: pointer;
}

#create{
    background-color: green;
    border: green solid;
}

#create:hover{
    background-color: #006600;
    border: #006600 solid;
}

#cancel{
    background-color: red;
    border: red solid;
}

#cancel:hover{
    background-color: #B22222;
    border: #B22222 solid;
}

main h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 28px;
    font-weight: 500;
    padding: 12px;
}

ol{
    width: 50%;
    margin: auto;
    border-top: 2px black solid;
    border-bottom: 1px black solid;
}

ol li{
    list-style: decimal;
    list-style-position: inside;
    padding: 8px;
    border-bottom: 1px black solid;
}

ol li button{
    border: transparent;
    background-color: transparent;

}

.checked{
    text-decoration: line-through;
}