*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

header{
    background-color: #4682B4;
    color: white;
    padding: 16px;
    padding-bottom: 8px;
}

header h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
}

.invalid{
    background-color: red;
    color: white;
    width: 20%;
    padding: 6px 2px;
    margin: 12px auto;
    border-radius: 4px;
    display: none;
}

.invalid p{
    font-size: 14px;
}

form{
    margin: 12px auto;
}

form input,
form button{
    font-size: 16px;
    padding: 6px;
}

form input{
    padding-left: 12px;
}

form button{
    color: white;
    border-radius: 4px;
}

form button, ol li{
    cursor: pointer;
}

#create{
    background-color: green;
    border: green solid;
}

#create:hover{
    background-color: #006600;
    border: #006600 solid;
}

#cancel{
    background-color: red;
    border: red solid;
}

#cancel:hover{
    background-color: #B22222;
    border: #B22222 solid;
}

ol{
    margin: 20px;
}

ol li{
    list-style: decimal;
    list-style-position: inside;
}

.checked{
    text-decoration: line-through;
}